                                                                *{margin:0; padding:0;font-family:Arial, Helvetica, sans-serif}

body {
	margin: 0px;
	background-image: url(images/menuback.jpg);
	background-repeat: repeat-x;
	font-size:1em
}

img{border:none}
p { text-align:justify; font-size:14px; font-family:Arial, Helvetica, sans-serif; line-height:28px; }
#main{float:left; width:100%}
#top_bookmark{ margin-left:auto; margin-right:auto; width:750px; padding-bottom:5px; text-align:right; padding-right:30px;}
#top{width:780px; margin-top: 0;margin-right: auto;margin-bottom: 0;margin-left: auto; padding-top:0; height:97px}
.clear{ clear:both}
#top p{float:right; font-weight:bold; font-size:17px; padding:15px 35px 0 0; text-align:right}
#top div span{font-size:12px; color:#f26200; font-family:Verdana, Arial, Helvetica, sans-serif; padding-top:5px; padding-bottom:5px;}
#top div span a{ font-size:12px; color:#f26200; font-family:Verdana, Arial, Helvetica, sans-serif; text-decoration:underline;}
#top div span a:hover{ font-size:12px; color:#666666; font-family:Verdana, Arial, Helvetica, sans-serif; text-decoration:none;}

.sep{border-top:1px solid #999999; width:774px; float:left; margin-bottom:35px; margin-top:10px; padding-top:5px; text-align:right; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal}
.sep a{text-decoration:underline; color:#006699;}
.sep a:hover{text-decoration:none; color:#006699;}


.sep_tour{border-top:1px solid #999999; width:774px; float:left; margin-bottom:5px; margin-top:10px; padding-top:5px; text-align:right; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal}
.sep_tour a{text-decoration:underline; color:#006699;}
.sep_tour a:hover{text-decoration:none; color:#006699;}

#header{
	width:1007px;
	height:40px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#header div {float:left; width:1007px;margin:0 0 0 0; padding:0;color:#fff;}
#header div ul{margin:0; padding:0}
#header div li{float:left; list-style:none; margin:0; font-size:0.7em}
#header div li a{text-decoration:none; color:#000; display:block; border-right:1px groove #7e7e7e; padding:8px 16px 8px 16px}
#header div li a:hover{ color:#333; text-decoration:none;background-image:url(images/top_background.png); background-repeat:repeat-x;}
#header div .h_selected{ background-image:url(images/top_background.png); background-repeat:repeat-x;border-left:1px groove #7e7e7e; padding:8px 16px 8px 16px;border-right:1px groove #7e7e7e; color:#333}

#header div .selected{ background-image:url(images/top_background.png); background-repeat:repeat-x; padding:8px 16px 8px 16px;border-right:1px groove #7e7e7e; color:#333}

#header div .home{ border-left:1px groove #7e7e7e;}

#header img{float:left; margin:7px 0 0 0}
#toplong{width:780px; margin:0 auto 0 auto; color:#333; background-repeat:no-repeat; background-position:center top;}
#toplong img{ border:0}
#toplong div#registersection{float:right; width:390px;}

#toplong div#registersection h1{ font-size:1.8em; margin:25px 0 0 0}
#toplong div#registersection h1 strong{ color:#f56300}
#toplong div#registersection h2{ font-size:1.3em}
#toplong div#registersection p{margin:25px 0 18px 0; font-family:"Lucida Grande", Arial, Helvetica, sans-serif; font-size:0.99999999999em; background-image:none; width:350px;}
#toplong div#registersection p strong{ color:#f56300}
#toplong div#registersection img{ margin:10px 0 0 0;}

#toplong div#registersection p span{padding:10px 0 0 0; margin:0; font-family:"Lucida Grande", Arial, Helvetica, sans-serif; font-size:0.99999999999em; background-image:none; width:350px;}



#toplong div#registersection_i{float:right; width:390px; padding-top:26px;}

#toplong div#registersection_i h1{ font-size:1.8em; margin:25px 0 0 0}
#toplong div#registersection_i h1 strong{ color:#f56300}
#toplong div#registersection_i h2{ font-size:1.3em}
#toplong div#registersection_i p{ margin:30px 0 0 0; font-size:0.89999999999em; background-image:none;}
#toplong div#registersection_i p strong{ color:#f56300}
#toplong div#registersection_i span{float:left; width:390px; padding-top:10px; font-size:0.89999999999em; font-weight:normal}


#toplong div#registersection_i img{ margin:0 0 0 0}


#toplong .process{padding:15px 0 0 0; font-size:1em}
#toplong .right_top_content{padding:0; font-size:0.9em}
#toplong .h1_space{padding-left:60px;}
#toplong .h1_green{color:#5d9402}
#toplong div p{ background-image:url(images/box.png); background-repeat:no-repeat; height:93px; width:353px}
#toplong div p img{ float:left; margin:17px 0 0 12px; }
#toplong div p a{ text-decoration:underline; color:#5d9402;}
#toplong div p a:hover{ text-decoration:none; color:#5d9402;}



#toplong div p span{ float:left; width:250px; margin:24px 0 0 20px; font-size:0.7em}
#toplong div p span strong.green{ color:#599301;font-size:1.2em; text-transform:capitalize}
#toplong div p span strong.red{ color:#f56300; font-size:1.2em; text-transform:capitalize}
#toplong div p span strong.gray{ color:#098be9;font-size:1.2em; text-transform:capitalize}


#value_chart{ margin:0 auto 0 auto;width:780px;padding:0; clear:both}
#value_chart p{ font-size:1.1em; color:#787878; text-transform:capitalize; padding:10px 100px 10px 0; width:700px; border-bottom:1px dotted #ccc;border-top:1px dotted #ccc; margin:30px 0 20px 0; text-align:center;}
#value_chart p img{float:left; display:block; margin-left:160px;}
#value_chart p strong{ font-size:1.2em; color:#f66200;}
#value_chart img{ border:0}

#table_border { border-collapse:collapse; width:50%; margin:auto;}
#table_border td { font-family:Arial, Helvetica, sans-serif; font-size:13px; border:1px solid #999999; padding:5px; }
#tr_heading {font-weight:bold; color:#0099FF; text-align:center;}
#table_border1 { border-collapse:collapse; width:50%; margin:auto;}
#table_border1 td { font-family:Arial, Helvetica, sans-serif; font-size:13px; border:0px solid #999999; padding:5px; }



#value_chart div{ width:780px}
#value_chart div div{border-bottom:1px dotted #ccc; margin:20px 0 20px 0; text-align:right;border-top:1px dotted #ccc;; float:left; width:770px; padding:5px; font-size:0.8em}
#value_chart div div a{ color:#f56300; text-decoration:underline}
#value_chart div div a:hover{ text-decoration:none}
#value_chart div ul{ margin:0 0 0 5px; padding:0 ;float:left; display:block}
#value_chart div li{ background-image:url(images/tick.png); background-position:left center; background-repeat:no-repeat;  width:365px;border:none; margin:0; list-style:none; padding:7px}
#value_chart div li span{ font-size:0.8em; font-weight:normal; padding:0 0 0 40px}

#value_chart div .checked li{ background-image:url(images/tick.png) ;background-position:left center; background-repeat:no-repeat;width:320px;border:none; margin:0 0 0 5px; list-style:none; padding:7px;}
#value_chart div .button li{ width:100px; list-style:none; background-image:none}


#fullbox{margin:10px auto 0 auto; width:780px; }
#fullbox #full_width{ width:760px; float:left; padding:0 10px 0 0}
#fullbox #full_width table{ font-size:12px; float:right; margin:0 75px 0 0; font-family:Arial, Helvetica, sans-serif}
#fullbox #full_width table td{ padding:5px}
#fullbox #full_width table .bold{ font-weight:bold}


#fullbox #holderleft{ width:570px;}

#fullbox #holderleft span{display:inline;font-size:0.9em;text-transform:capitalize;background-color: transparent;background-image: url(images/heading_back.png);background-repeat: no-repeat;background-attachment: scroll;float:left; border:0; padding:8px; padding-left:10px; font-weight:bold; color:#333333; font-size:0.8em; width:555px; }
#fullbox #holderleft img{ float:left; width:200px; margin:20px 0 20px 0;}
#fullbox #holderleft p{ float:left; font-size:12px;  line-height:17px; color:#333333; width:550px; margin:20px 0 20px 10px; padding:0}

#fullbox #holderleft #advantages{float:left; width:550px; padding-left:25px; padding-bottom:30px;}
#fullbox #holderleft #advantages ul{ margin:0; padding:0;}

#fullbox #holderleft #faq{float:left; width:550px; padding-left:25px;}
#fullbox #holderleft #faq p{float:left; font-size:12px;  line-height:17px; color:#333333; width:550px; margin:5px 0 5px 5px; padding:0}
#fullbox #holderleft #faq h1{float:left; font-size:12px; font-weight:bold; color:#5d9402; width:550px; margin:10px 0 5px 5px; padding:0}
#fullbox #holderleft #faq h2{float:left; font-size:14px; font-weight:bold; color:#333333; width:550px; margin:10px 0 5px 5px; padding:0}
#fullbox #holderleft #faq a{ font-size:12px; color:#5d9402; text-decoration:underline;}
#fullbox #holderleft #faq a:hover{font-size:12px; color:#5d9402; text-decoration:none;}






#fullbox .feature{}
#fullbox .feature div{float:left; width:580px; border-bottom:1px solid #f5f5f5; margin:0 0 20px 0}
#fullbox .feature div div{float:left; width:270px; margin-right:20px; font-size:0.8em;color:#797979; border:none  }
#fullbox .feature div div h3{color:#599301; font-size:12px; background-image:url(images/icon.jpg); background-repeat:no-repeat; height:20px; padding-left:40px; padding-top:2px}
#fullbox .feature div div ul{margin:20px 0 20px 53px}
#fullbox .feature div div li{line-height:18px; color:#333333;}
 

#fullbox  #holderleft  #support{}
#fullbox  #holderleft  #support p{ float:left; font-size:0.8em; line-height:20px; color:#797979; width:540px; margin:20px 0 20px 10px; padding:0}
#fullbox  #holderleft  #support p .green{color:#569000}
#fullbox  #holderleft  #support p a{ text-decoration:underline;color:#569000}
#fullbox  #holderleft  #support p a:hover{ text-decoration:none}
#fullbox  #holderleft  .advantages{float:left; width:550px; padding-left:25px; padding-bottom:30px;}



#fullbox #holderright{ width:180px; float:right; margin:0}
#fullbox #holderright span{display:inline;font-size:0.9em;text-transform:capitalize;background-color: transparent;background-image: url(images/shaded_corner.jpg);background-repeat: no-repeat;background-attachment: scroll;float:left; border:0; padding:8px; font-weight:bold; color:#333333; font-size:0.8em; width:160px; border-bottom:1px #e4e4e4 solid;}
#fullbox #holderright div{ width:170px; float:left}
#fullbox #holderright div ul{margin:10px 0 10px 20px; padding:0; }
#fullbox #holderright div li{ list-style:none; border-bottom:1px dotted #dedede; font-size:0.8em; padding:8px 8px 8px 18px; width:120px; background-image:url(images/arrow.jpg); background-repeat:no-repeat; background-position:left center; }
#fullbox #holderright div li a{ text-decoration:underline; color:#333333; font-size:12px;}
#fullbox #holderright div li a:hover{ background-color:#b7cd85; color:#fff}
#fullbox #holderright .address{float:left; width:auto; padding:10px; border:5px solid #f1f1f1; font-size:12px; }


#footer{background-color:#00070c;float:left; width:100%; padding:10px 0 10px 0;}
#footer a{ color:#FFFFFF; text-decoration:none;}
#footer a:hover{ color: #cccccc; text-decoration:none;}
#footer div{margin:0 auto 0 auto; width:780px; color:#fff; font-size:0.8em; line-height:18px}
#footer div p{float:right}
.border_none{border:0;}
.free_quote a {font-size:15px; display:block;width: 100%;padding: 5px;background-color: #589303;border-bottom:#333 solid 1px;border-top:#333 solid 1px;margin-bottom:20px;margin-top:10px; color:#ffffff; padding-bottom:5px;padding-top:5px;text-align:center;}

.free_quote a:hover{font-size:15px; display:block;width: 100%; color:#ffffff; padding: 5px;background-color: #79a800;border-bottom:#333 solid 1px;border-top:#333 solid 1px;margin-bottom:20px;margin-top:10px;padding-bottom:5px;padding-top:5px;text-align:center;}
                            
                            